#changePassword {
}

#changePassword .resultMessages {
  position: relative;
  display: grid;
}

#changePassword .password-helper {
  font-size: 16px;
  margin: 0px 8px 8px 8px;
  color: #fff;
}

#changePassword label {
  font-size: 24px;
}

#changePassword input {
  border-radius: 8px;
}

#changePassword input.fullWidth {
  width: 100%;
  height: 48px;
  font-size: 24px;
}

#changePassSubmit {
  float: right;
}

#changePassword .successMessage, #changePassword .errorMessage {
  opacity: 0%;
  justify-self: center;
  font-size: 24px;
  padding: 16px;
  border-radius: 8px;
  top: 64px;
  position: absolute;
  transition: opacity 0.2s;
}

#changePassword .successMessage {
  background: green;
}

#changePassword .errorMessage {
  background: red;
}

#changePassword .successMessage.active, #changePassword .errorMessage.active {
  opacity: 100%;
  transition: opacity 0.4s;
}
