#messageEditContainer {
  display: none;
  position: absolute;
  color: #fff;
  width: 100%;
  background: #323232;
  border-radius: 8px;
  padding: 32px 48px!important;
}

#messageEditContainer h2 {
  margin: 32px 0px;
}

#originalData div.col {
  color: #fff!important;
}

#originalData span, #newData span {
  float: right;
  position: relative;
  top: -24px;
}

#MessageTable {
  position: relative;
}

#MessageTable .action > div {
  float: right;
}

#MessageTable .action .cancel {
  margin-right: 16px;
}

#newData {
  border-left: 1px solid #fff;
  padding-left: 32px;
}

#messageInsertValues input {
  height: 24px;
  width: 100%;
  color-scheme: dark;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
}

#messageEditValues .init {
  min-height: 24px;
}

#messageEditContainer .close {
  position: relative;
}

#messageEditContainer .close > div {
  position: absolute;
  width: 100%;
}

#messageEditContainer .close button {
  float: right;
  border-radius: 100%;
  width: 38px;
  height: 38px;
}

#messageEditContainer .resultMessages {
  position: relative;
  display: grid;
}

#messageEditContainer .successMessage, #messageEditContainer .errorMessage {
  opacity: 0%;
  justify-self: center;
  font-size: 24px;
  padding: 16px;
  border-radius: 8px;
  position: absolute;
  transition: opacity 0.2s;
}

#messageEditContainer .successMessage {
  background: green;
}

#messageEditContainer .errorMessage {
  background: red;
}

#messageEditContainer .successMessage.active, #messageEditContainer .errorMessage.active {
  opacity: 100%;
  transition: opacity 0.4s;
}
