#login {
  display: flex;
  height: 100%;
  align-items: center;
}

#login > div {
  min-width: 284px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 24px 32px 24px;
  border-radius: 24px;
  background: #1c1d1f;
  color: #fff;
}

#login > div > div {
  width: 100%;
}

#login .header {
  text-align: left;
  font-size: 48px;
  margin-bottom: 12px;
}

#login label {
  font-size: 24px;
}

#login input {
  border-radius: 8px;
}

#login input.fullWidth {
  width: 100%;
  height: 48px;
  font-size: 24px;
}

#login .password-helper {
  font-size: 16px;
  margin: 0px 8px 8px 8px;
}

#login button {
  width: 100%;
  height: 48px;
  font-size: 24px;
  line-height: 24px;
}

#login #loginTitle {
  width: 100%;
  color: #b34b4b;
  font-size: 20px;
}

#login form#loginForm {
  width: 100%;
}

#login #newAccount {
  margin-top: 8px;
}
