#login {
  display: flex;
  height: 100%;
  align-items: center;
}

#login > div {
  width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 32px 10px;
  background: #fff;
  border-radius: 8px;
}

#login .header {
  font-size: 48px;
  margin-bottom: 32px;
}

#login input {
  height: 24px;
  margin-bottom: 16px;
}

#login button {
  width: 100%;
}
