:root {
  --transition-time2: 0.6s;
}

#main #userProfile {
  position: absolute;
  display: flex;
  color: #fff;
  top: 24px;
  right: 24px;
  height: 64px;
}

#main #userProfile p {
  height: 100%;
  line-height: 64px;
  font-size: 32px;
  margin-right: 8px;
}

#main #userProfileImg {
  background: #000;
  height: 64px;
  width: 64px;
  border-radius: 100%;
}

#main #routes .container {
  padding-left: 100px;
  transition: padding-left var(--transition-time2);
}

#main:has(nav.active) #routes .container {
  padding-left: 250px;
  transition: padding-left var(--transition-time2);
}

#routes {
}
